{% extends 'base.html.twig' %}

{% block body %}
    <h1>Members of the Group</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>CIN</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Role</th>
        </tr>
        {% for member in members %}
            <tr>
                <td>{{ member.getUsername() }}</td>
                <td>{{ member.getCin() }}</td>
                <td>{{ member.getEmail() }}</td>
                <td>{{ member.getDateNaissance()|date('Y-m-d') }}</td>
                <td>{{ member.getRole() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
